[2020-03-09 14:23] PawelKmiecik opened #1 "On zoom out zoom in markers disappear"
Problem with z-index. On zoom out zoom in somtimes markers are rendered under the map tile.

[2020-03-09 15:30] konradkalemba commented on #1
Fixed in 25164979532ee65601ecffbe5aabe25872aafdc0

Thanks for letting me know about the bug 👍

[2020-03-09 15:30] #1 closed

[2020-03-11 08:17] D0han opened #2 "Add link to more data"
Consider adding link to https://docs.google.com/spreadsheets/d/1ierEhD6gcq51HAm433knjnVwey4ZE5DCnu1bW7PRG3E/htmlview?usp=sharing&sle=true# or maybe even reusing data.
Linked spreadsheet is not mine.

[2020-03-11 10:49] konradkalemba commented on #2
I've already started working on adding more data to the app and I will probably finish it today. Thanks for sending me a link to spreadsheets - they are really well-made.

[2020-03-11 12:36] chybaDapi opened #3 "Latest cases"
Hello,
It would be nice to have latest cases listing next to cities chart tab. Something like in the picture, latest cases on the top. Thanks to that, it would be easier to find new cases, because now you need to remember all numbers and old cases locations to notice a new one, or check every pin on the map to find a case with a latest date.
![image](https://user-images.githubusercontent.com/53638

[2020-03-11 16:45] konradkalemba commented on #3
Hi, thanks for the issue.

The feature you suggested is currently being worked on.

Regarding error you bumped into while trying to run the app on your own. It is a problem with Firebase connection, which needs to be configured beforehand. I will try write a tutorial how to do so.

Have you ever used Firebase? If so you can create a database there by yourself and I can send you a JSON file of case

[2020-03-11 20:55] kchraniuk opened #4 "There is no physical buttons for zooming the map in and out."
After zoom in map there is no possible zoom it out. There is missing buttons for scaling map.

[2020-03-12 11:39] rago4 opened #5 "Information about fatality cases"
It is well known that the virus can cause life-threatening illnesses which can lead to death. Are there any plans to add an information about fatality cases? I am willing to help so feel free to reach me out.
BTW thank you for this app. It is really helpful. Good job👏

[2020-03-12 12:05] konradkalemba commented on #5
It just has been implemented minutes ago - check it out. I will work on it more though.

[2020-03-12 13:08] #5 closed

[2020-03-12 13:12] wojdaa opened #6 "Overlapping sections"
On smaller displays (laptop, 14'), the city list section is overlapping infected/fatalities statistics.

Screenshot attached:
<img width="960" alt="2020-03-12_14h09_02" src="https://user-images.githubusercontent.com/10337377/76524870-1a13b980-646b-11ea-8484-559e879d215d.png">

[2020-03-12 13:14] konradkalemba commented on #6
Thanks for the info. I will try to get it fixed tonight.

[2020-03-12 16:38] PawelKmiecik commented on #6
Maybe instead of fixing that it would be good to move some charts like "Podział na miasta", and new data (saw other enhancement requests) to some side menu that could be hidden in menu strip or sidebar like https://github.com/balloob/react-sidebar

[2020-03-12 16:47] konradkalemba commented on #6
Good idea. 👍

[2020-03-12 20:42] PawelKmiecik opened #7 "Missing fatal casses"
When you zoom out, you lose information about fatal casses on map markers.
![Screenshot_2020-03-12-21-40-45-031_com android chrome](https://user-images.githubusercontent.com/5746221/76565113-3256f900-64aa-11ea-9920-3228406a37cb.jpg)

[2020-03-13 11:43] konradkalemba commented on #7
Should be fixed now.

[2020-03-13 11:43] #7 closed

[2020-03-13 11:44] konradkalemba commented on #6
@wojdaa I changed a bit the layout of the app. Can you check it now?

[2020-03-13 11:44] konradkalemba commented on #3
Implemented in the latest release.

[2020-03-13 11:45] konradkalemba commented on #2
Added more data in the latest release.

[2020-03-13 11:45] #2 closed

[2020-03-13 11:49] kolszewska opened #9 "Showing cities location after clicking on them"
Hi,

I think it would be good idea to show the city on the map after you click on them in the "Cases/Potwierdzone przypadki" tab. Not everyone is aware when e.g "Bełżyce" are located on the map.

Cheers!

[2020-03-13 11:52] wojdaa commented on #6
@konradkalemba overall it looks better - more info is very useful but I wouldn't add anything more in case the page will loose it's lightness.

There are still some layout issues though:
<img width="960" alt="2020-03-13_12h46_34" src="https://user-images.githubusercontent.com/10337377/76618636-59084480-6529-11ea-99d0-9a26eea828a6.png">

Thanks for the good work you do here :)

[2020-03-13 11:53] konradkalemba commented on #9
Hi, good idea 👍 Will try to implement it today.

[2020-03-13 11:55] wojdaa commented on #6
Also - adding accordion (show/hide) to City List section would be nice so that the user can see more map.

[2020-03-13 12:00] konradkalemba commented on #6
@wojdaa You're right. Now the content takes too much space on your screen and it covers the map. I will try to make some changes in layout and will let you know, when they are done.

Thanks for your contribution. :)

[2020-03-13 12:36] konradkalemba commented on #3
@chybaDapi I updated the repository with [contributing guide](https://github.com/konradkalemba/korona.ws/blob/master/CONTRIBUTING.md) if you want to contribute.

[2020-03-13 12:41] Sekhmet commented on #3
I see that latest cases on the same date are not sorted properly because time of the day is not stored. Would it be possible to sort them by the time the case was entered to Firebase?

[2020-03-13 12:50] konradkalemba commented on #3
@Sekhmet Hmm, you're right - I didn't notice it. I don't know if Firebase stores times of the data modifications. Maybe I can just reverse cases array from the database, which is stored in chronological order and there won't be a need to sort it again. Therefore we will avoid this bug.

[2020-03-13 16:28] mikoprus opened #10 "New deaths visual indication"
Given the fact that death ratio is expected to oscillate in range of 1-5 %, current visual indication of death ratio will soon become irrelevant and not informative. It would be nice to think of some different way to showcase this on the map. Some I can think about are:
1) different dots colors based on deadliness: 0-1% orange 2-4% red 4%< black or similar
2) switch button to display either deaths

[2020-03-13 16:38] konradkalemba commented on #3
Should be fixed now.

[2020-03-13 16:38] #3 closed

[2020-03-13 16:43] konradkalemba commented on #10
I agree that it's not the best way to show death ratio.

Thanks for giving ideas how it can be improved. I think I like the second approach better.

[2020-03-13 16:46] konradkalemba commented on #4
I don't think it is necessary. There are multiple ways to do that, i.e. mouse scroll, `+` and `-` keys on keyboard or double click (with shift to zoom out).

[2020-03-13 22:14] adamcodemaker opened #11 "live update"
Does this map support live update? I have it opened for hours and data is not updated. Then I refreshed whole page and data was updated. I can see that there is websocket but I this that it does not handle updates.

[2020-03-14 07:25] jakub-zawislak opened #13 "GPU usage"
I have 95% GPU usage on this page

[2020-03-14 08:14] mt3o opened #14 "Broken tiles"
On my PC the tiles are broken:

![image](https://user-images.githubusercontent.com/158868/76677917-c8d30980-65d3-11ea-84c6-a7772cee025c.png)

It seems that noscript is by default blocking some scripts from unpkg. I think you should compile them into your application instead of relying on unpkg on the production.

[2020-03-14 09:20] #4 closed

[2020-03-14 11:36] konradkalemba commented on #11
Now it does support live update. Thanks for pointing this out. :)

[2020-03-14 11:36] #11 closed

[2020-03-14 11:40] konradkalemba commented on #13
Can you provide some more info, e.g. using [Chrome's CPU Profiler](https://developers.google.com/web/updates/2016/12/devtools-javascript-cpu-profile-migration)?

[2020-03-14 12:34] jakub-zawislak commented on #13
Macbook Pro 2015 13", macOS 10.15.3

I have this issue in Safari, Chrome, Vivaldi, Opera. Only in Firefox works normally

[Profile-20200314T132141.json.zip](https://github.com/konradkalemba/korona.ws/files/4332707/Profile-20200314T132141.json.zip)

[2020-03-15 09:53] jakub-zawislak commented on #13
There is a problem with the `pulse` animation of markers. If you disable it, the issue is gone.

I have tested animation of `opacity` instead of `transform: scale` but the issue remains. So the best would be to disable animations.

I have also tested it on Chrome on Windows, there is the same problem.

[2020-03-15 10:13] konradkalemba commented on #13
@jakub-zawislak Thanks for more info. I wouldn't suspect that CSS animations are the cause. I'll look into it.

[2020-03-15 10:21] loliarz opened #17 "Total count on zoomed out map is not equal to count on left side panel."
I zoomed out map to see one circle and total count in circle is not equal to total on left side panel. Screen attached.

![Zrzut ekranu 2020-03-15 o 11 16 55](https://user-images.githubusercontent.com/10380550/76699568-ee811100-66ae-11ea-863a-bb851d82e214.png)

[2020-03-15 10:40] konradkalemba commented on #17
That's due the fact that in the latest new cases confirmation tweet from MZ there is no city specified in one of the cases therefore one case isn't displayed on the map. I haven't thought of any solution to this problem yet. Thanks for the info.

[2020-03-15 12:16] mhajder opened #19 "Recovered people"
There was no official information about these 13 recovered. GIS reported wrong information.
![image](https://user-images.githubusercontent.com/6783135/76701186-2001d880-66bf-11ea-965f-a8803cbb3f7e.png)

[2020-03-15 14:53] wojtulab opened #20 "Chart"
Dużo osób szuka w necie wykresów.
Chodzi głównie wykres dzienny ilości testów do ilości testów pozytywnych.

Myślę że to bardzo ważna kwestia gdyż w każdym innym kraju robi ich się znacznie więcej. My już po agregacji zrobiliśmy dopiero te 5k, gdzie inne kraje w tym czasie miały już ponad 30k. Skala jest ogromna...

Myślałem o czymś na wzór tego plus ilość pozytywnych testów tj ilość zakażonych pe

[2020-03-15 18:42] mulawamichal opened #21 "Cases by date"
Please add cases by date graph (new/cumulative)

[2020-03-15 19:10] konradkalemba commented on #19
@mhajder Thanks for the info. I deleted data of cured count and added a note about the GIS message in `Wyleczenia` tab.

[2020-03-15 19:10] #19 closed

[2020-03-15 19:15] konradkalemba commented on #20
Cześć, tak - więcej wykresów to coś, co chciałbym wprowadzić. Na razie jednak muszę znaleźć dla nich miejsce, ale dzięki za pomysł na wykres. 👍

[2020-03-15 19:25] wojtulab commented on #20
Dziękuję.
Ja widzialbym to jako kolejna kolumnę obok:

mapa | statystyki | wykresy

Co do statystyk brakuje wartości procentowych o które bardzo dużo osób pyta na Twitterze np.
%wykrytych osób z testów, czyli
19/1019 (19 nowych zakażeń na 1019 testów) etc

[2020-03-15 19:27] mhajder commented on #14
@mt3o Can you provide more information? It works on version 11.0.15 for me.
![image](https://user-images.githubusercontent.com/6783135/76708963-50fffe80-66fb-11ea-9ccc-0224a7a67c8d.png)

[2020-03-16 08:10] mhajder opened #24 "Today's people from Podkarpacie"
It concerns the tweet: https://twitter.com/MZ_GOV_PL/status/1239457262361550851

I heard that they are people from Mielec. But unfortunately I can't confirm it anywhere. I would ask for help in searching for the source.

[2020-03-16 08:59] konradkalemba commented on #24
Yes, unfortunately I couldn't find the city name either. I will update the data later basing on the official MZ data from their website. https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2

[2020-03-16 09:22] mhajder commented on #24
I found:
https://rzeszow.onet.pl/koronawirus-rzeszow-i-woj-podkarpackie-aktualne-informacje-poniedzialek/3wjkhpt
https://www.se.pl/rzeszow/koronawirus-podkarpacie-kolejne-potwierdzone-przypadki-w-sumie-10-zarazonych-aa-hDnk-evpG-8Tiv.html
And others.

[2020-03-16 10:51] MateuszCode opened #25 "Search Bar"
Hello
I think it would be good idea to add search bar above latest cases. We can search here e.g by city or date and table will shows results.
![search bar](https://user-images.githubusercontent.com/59296230/76748903-de833300-677b-11ea-958f-2fcc0b3ea3f3.png)

[2020-03-16 16:39] kasmar00 opened #26 "Background map"
It appears that you are using Openstreetmap tiles directly from [a/b/c].tile.openstreetmap.org which is (at least) discouraged by [Tile Usage Policy](https://operations.osmfoundation.org/policies/tiles/). OSM Foundation tile servers are under heavy load recently ([twitter post](https://twitter.com/OSM_Tech/status/1239561292572241921)).

I would suggest manually downloading tiles (only for Poland,

[2020-03-16 18:36] konradkalemba opened #27 "Data source"
Hi all!

Currently the data is updated manually from MZ Twitter account. However, in the long run this approach is not effective.

I found the official website - https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2 where we can get the data from automatically. Their data are a bit inconsistent though - there are cities specified in some cases, in others there are "powiaty".

T

[2020-03-16 19:32] mhajder commented on #27
For me, the idea of scraping official data is a good one. But is it sense to scrape them to create the same map? I would stay with the official account of the MZ twitter.

I like the data with cities more. They are more readable.
<details>
<summary>JSON data from gov.pl</summary>

[code]
</details>

[2020-03-16 19:34] mulawamichal commented on #27
sometimes powiat is named same as city. theese are "miasta na parawach powiatu".  see https://pl.wikipedia.org/wiki/Lista_powiat%C3%B3w_w_Polsce or TERYT database (http://eteryt.stat.gov.pl/eTeryt/rejestr_teryt/udostepnianie_danych/baza_teryt/uzytkownicy_indywidualni/wyszukiwanie/wyszukiwanie.aspx?contrast=default)

[2020-03-16 19:46] konradkalemba commented on #27
@mhajder There is also an option to stay with manually updated data, but we would have to create a team responsible for data updating, because right now I'm not available all the time. With more people, delays in data update would be lower.

@mulawamichal I see - that's good, we wouldn't have to deal with showing  "powiat" on map.

In both approaches there are some trade-offs:

- In manual data up

[2020-03-16 19:50] konradkalemba commented on #26
@kasmar00 I see. I wasn't aware of such rules. I will try to host the tiles on my own.

[2020-03-16 19:51] mhajder commented on #27
@konradkalemba I can help with adding data.

Implementing such a scraper is very simple. It's best to do a simple python script that will be run in cron. Also, page scraping is not very ethical. It generates a lot of traffic.

[2020-03-16 20:00] konradkalemba commented on #27
@mhajder I know that isn't the best way ethical-wise, but it wouldn't generate a lot of traffic though. Running the script every 5 minutes wouldn't hurt the server very much.

An another problem with this data source is that I'm not sure if it's updated regularly

[2020-03-16 21:22] #6 closed

[2020-03-16 21:54] konradkalemba commented on #27
Okay, for the time being we are staying with the data updated manually. Official MZ's website was outdated for at least 1 hour after the latest confirmation.

[2020-03-16 21:57] mhajder commented on #27
Probably the change is only during working hour 😆

[2020-03-17 06:45] wojdaa commented on #6
Looks way better now - thanks! :)

[2020-03-17 07:23] thisisui opened #31 "Create PWA functionality so users can add this page to their mobile/desktop screens and access it more easily."
By using Service Workers the page could look and feel as native app without creating native code.

[2020-03-17 08:36] konradkalemba commented on #31
Yes, I agree. I've thinking about doing this, but never had time to do so. If there is somebody willing to implement this it would be great.

[2020-03-17 08:43] konradkalemba commented on #27
There is an another problem - MZ's Twitter doesn't specify cities where new cases are, only voivodeships now...

[2020-03-17 08:46] sosite commented on #17
@konradkalemba I think that you should just change way of displaying data from markers and clusters to properly colorized whole provinces or smaller ones like in https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2

[2020-03-17 08:49] sosite commented on #20
@konradkalemba A może pływające kafelki (z przyciąganiem do krawędzi i siebie na wzajem) i możliwość ich włączania/wyłączania wg uznania? :)

[2020-03-17 08:50] konradkalemba commented on #17
@sosite Yes, now when they chose not to specify cities on their Twitter it's a top priority task. Any help is welcome.

[2020-03-17 09:06] sosite commented on #17
I can help you create an Android app but JS is not in my skill set unfortunately ;)

[2020-03-17 11:25] sewerynkalemba opened #32 "Basic identification for the app"
Even though a default React app icon is a bit virus-shaped (😛), we should make our own basic identification - what I mean is an icon / a logo. It would also help us in terms of PWA (#31). Feel free to submit one.

[2020-03-17 11:25] sewerynkalemba commented on #31
Before we proceed with that, I think we should create a basic identification (i.e. icon/logo) for the app -#32 .

[2020-03-17 14:50] kasmar00 commented on #26
@konradkalemba I forgot to mention yesterday, there are many tile providers independent from OSM Foundation, some are paid (like [mapbox](https://www.mapbox.com/)) and some only require tokens, you can find them on [switch2osm.org](https://switch2osm.org/using-tiles/).

[2020-03-17 15:02] kkostepski commented on #13
I can investigate this issue (for me CPU usage is also very high).

[2020-03-17 15:16] konradkalemba commented on #13
@kkostepski That would be great, thanks! 👍

[2020-03-17 15:44] mulawamichal commented on #27
geoportal now has "koronawirus" layer: https://mapy.geoportal.gov.pl/imap/Imgp_2.html?locale=en&gui=new&sessionID=4955220

[2020-03-17 16:23] mhajder commented on #27
But it is extremely difficult to scrape it.

For gov.pl, all you need is:
[code]

[2020-03-17 17:27] konradkalemba commented on #27
@mulawamichal @mhajder Guys, we have a big problem - their official twitter account lists only voivodeships now as I wrote above, but I thought maybe their website will be more precise... but they limited both map and table to voivodeships.

[2020-03-17 17:30] konradkalemba commented on #26
@kasmar00 Okay, thanks. I managed to start a tile server, I don't know though if will it be able to withstand the traffic. I will test it tonight when the traffic will be lower.

[2020-03-18 07:48] #9 closed

[2020-03-18 07:48] #25 closed

[2020-03-18 09:46] konradkalemba commented on #26
@kasmar00 I managed to connect to my own tile server but as you can see the city names are not displayed. Do you know what can be the cause?

https://korona-ws-9up6iftmn.now.sh/

[2020-03-18 10:20] mhajder commented on #27
@konradkalemba Gov.pl also now only provides voivodships.

[2020-03-18 10:25] konradkalemba commented on #27
@mhajder Yes... I think we also have to do so. Because trying to find where every new case is will be very time-consuming.

[2020-03-18 10:29] mhajder commented on #27
Also correct the case that the patient recovered, as it is written on Twitter this is the first patient. So it is from Zielona Góra.

[2020-03-18 14:44] wojtulab commented on #20
jasne, zawsze to kolejny plus. Skad pobierasz dane?

[2020-03-18 19:56] kkostepski commented on #13
I investigated the issue and apparently there is a problem with CSS animations performance.

1. I tried used tricks like `transform: translateZ(0)` to force use GPU or a property `will-change: transform` (more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/will-change and https://www.smashingmagazine.com/2016/12/gpu-animation-doing-it-right) but no result.
2. I also tried to implement

[2020-03-18 20:02] konradkalemba commented on #13
@kkostepski I will probably have to disable it. Thanks for your analysis. :)

[2020-03-18 22:24] #13 closed

[2020-03-18 23:16] kkostepski commented on #10
I can propose switcher, which will be visible between left and right panels. We will be able to switch between "confirmed cases", "deaths" and "cures". One user click an option, the map will be updated by relevant data.

[2020-03-18 23:21] konradkalemba commented on #10
@kkostepski I have already started developing this feature. Thanks for willing implement it though. :)

[2020-03-18 23:30] kkostepski commented on #10
Thank you for the information! :)

[2020-03-19 00:36] #27 closed

[2020-03-19 00:37] #17 closed

[2020-03-19 09:16] sosite commented on #17
@konradkalemba What did you think about shrink distance between points before there will be joined in clusters? Or because we stop tracking by cities disable clustering at all?

[2020-03-19 10:38] #24 closed

[2020-03-19 10:45] mhajder commented on #26
If the queries are less than 50k, I would prefer to use MapBox.

[2020-03-19 19:21] konradkalemba commented on #26
@mhajder Unfortunately it would cost a lot of money. Our own tile server is now handling all the traffic.

[2020-03-19 19:21] #26 closed

[2020-03-19 19:23] mhajder commented on #26
In that case, you can now also pass traffic through CloudFlare with the cache all rule.

[2020-03-19 19:25] konradkalemba commented on #26
@mhajder At the moment there is no need for that, but thanks for tip. :)

[2020-03-19 20:52] kkostepski commented on #32
Maybe this icon? https://www.flaticon.com/free-icon/virus_2663820?term=infections&page=1&position=7

If you don't really need custom logo specific for "korona.ws" name, it would be enough, at least better than React icon ;)

[2020-03-20 22:20] kkostepski opened #37 "Voivodeships view in the chart"
1. Voivodeships with long names are not fully displayed.
<img width="405" alt="korona" src="https://user-images.githubusercontent.com/18166552/77210277-e0911d00-6b00-11ea-8e69-2532032b3575.png">

2. Since we have only voivodeships here, it means that we will have maximum of 16 elements there. I think the scroll is not needed anymore. Especially now, we have 3 nested scrolls which is not user frien

[2020-03-21 23:58] #37 closed

[2020-03-21 23:58] #21 closed

[2020-03-22 00:00] konradkalemba commented on #20
@sosite Też o tym myślałem - jak będę miał chwilę to się pobawię. :)
@wojtulab Uzupełniam swoją bazę danych o dane z twittera Minesterstwa Zdrowia.

[2020-03-22 11:09] kkostepski opened #39 ""Daily growth" chart - overflow should be set to hidden"
This video explains the problem: https://streamable.com/obesn

[2020-03-22 11:22] maximakymenko opened #40 "Adding English version"
Hey guys, there are a lot of foreigners and expats in Poland and some of them don't know Polish. So I decided to take this initiative and add English version of the website using i18n tool.  I'll send you the PR today, hope it will be useful.

[2020-03-22 12:05] kkostepski commented on #40
Which tool do you want to use? There are many i18n tools.

[2020-03-22 12:08] maximakymenko commented on #40
I've started already with `react-i18n`, cause it fits really good into project and translations are easy to add. I did already about 40% of all translations.

[2020-03-22 13:34] #39 closed

[2020-03-22 18:17] mulawamichal commented on #20
Myślę że zamiast na jedynym wykresie zarówno przypadki jak i zgony, lepiej by było na jednym wykresie potwierdzone przypadki nowe (slupki) oraz skumulowany (łamana), a na osobnym zgony (analogicznie)

[2020-03-22 22:07] #40 closed

[2020-03-22 22:08] maximakymenko commented on #40
Basic internationalisation is added. Should be merged pretty soon.

[2020-03-23 12:22] wojtulab commented on #20
Ja myślę że jest dobrze. Dodałbym jedynie słupki jako ilość testów dziennych, co zobrazuje na ile testów są te pozytywne.

[2020-03-23 15:32] mulawamichal commented on #20
Teraz są dwie serie danych o skrajnie różnych rzędach wielkości. Na jednej liczymy w setkach (a pewnie zaraz peknie tysiąc), na drugiej pojedyncze przypadki (i oby tak zostało) . Przez to ta druga seria lezy praktycznie na osi wykresu i nie widać tam zadnych zmian

[2020-03-24 06:35] loliarz opened #43 "Map is not visible on production"
As you can see in attachment map is not visible on production. There are some red logs in console.
![Zrzut ekranu 2020-03-24 o 07 33 58](https://user-images.githubusercontent.com/10380550/77395440-dc375f00-6da1-11ea-9a6a-d3ed61c78cc3.png)

[2020-03-24 06:45] konradkalemba commented on #43
Fixed, thanks!

[2020-03-24 06:45] #43 closed

[2020-03-24 13:31] gosiafelis opened #44 "Zakażenia dzienne"
Cenną wizualizacją byłoby pokazanie ilości zdiagnozowanych zakażeń per dzień na wykresie słupkowym. Lepiej można zaobserwować przyrost (zdiagnozowanych) zakażeń.

Taki wykres linkuje tvn24 w swoich artykułach:
https://public.flourish.studio/visualisation/1616542/?utm_source=showcase&utm_campaign=visualisation/1616542

Można go dodać jako tab obecnego wykresu w czasie:
<img width="1177" alt="Screen

[2020-03-24 16:09] konradkalemba commented on #44
Faktycznie, dobry pomysł i wydaje się być relatywnie łatwy do wprowadzenia. 👍

PS. Dzięki za miłe słowa. 😃

[2020-03-24 22:50] konradkalemba commented on #32
Logo has been added.

[2020-03-24 22:50] #32 closed

[2020-03-25 07:19] wojtulab commented on #20
Może liczmy od 100 przypadków?

[2020-03-25 13:44] foofaraw opened #45 "Zły tekst w tooltipach w polskiej wersji"
W polskiej wersji tooltip przy dziennym wzroście zgonów, potwierdzonych przypadków i dziennym przyroście wykonanych testów wyświetla coś takiego:

![image](https://user-images.githubusercontent.com/24656920/77542645-ccee0980-6ea6-11ea-9b7b-32716d1ea7ba.png)

W angielskiej wersji jest OK, tekst to ładnie sformatowane Today's change.

[2020-03-25 14:33] konradkalemba commented on #45
Dzięki za info - faktycznie tak jest.

@maximakymenko Can you verify that? I'd be grateful :)

[2020-03-25 14:40] maximakymenko commented on #45
@konradkalemba I'll take a look today ;)

[2020-03-25 14:58] Kamil-kozlowski commented on #44
Hej, rozpocząłem pracę nad tym :)

[2020-03-25 14:59] konradkalemba commented on #44
@Kamil-kozlowski Super, dzięki za info. 👍

[2020-03-25 15:06] gosiafelis commented on #44
Dzięki! Cieszę się, że pomysł się przyjął.  👍
Jeśli będziecie potrzebowali jakiejś pomocy z perspektywy UI/UX/grafika to dawajcie znać.

[2020-03-25 15:50] #45 closed

[2020-03-25 22:41] konradkalemba commented on #44
@gosiafelis Jasne, dzięki za propozycję. Jak masz jakieś uwagi co do UX/UI to pisz śmiało. :)

[2020-03-26 18:26] gartre commented on #44
Widzę, że wykres dodany! Ekstra 👍 📊 Dzięki serdeczne! Teraz miejmy nadzieję, że słupki na tym wykresie nie będą drastycznie wzrastać 🤞

[2020-03-26 18:30] Kamil-kozlowski commented on #44
@gartre oby, oby :)

[2020-03-26 18:53] Kamil-kozlowski commented on #44
@konradkalemba Chyba można zamknąć.

[2020-03-26 19:10] #44 closed

[2020-03-26 20:42] #31 closed

[2020-03-27 07:22] muraczewski opened #53 "Show estimated course from exmetrix on diagram"
Exmetrix created an estimated course of the epidemic http://www.exmetrix.com/pl/uncategorized/9-tys-zakazen-i-wyrazne-zahamowanie-w-okolicy-15-kwietnia-prognoza-przebiegu-epidemii-koronawirusa-w-polsce-model-exmetrix/

I think you can show this estimation in the below diagram. Maybe it should be hidden by checkbox

![image](https://user-images.githubusercontent.com/6163871/77731717-bc06da80-7003-1

[2020-03-27 18:46] Kamil-kozlowski commented on #20
@konradkalemba
Można dodać pozostałe wykresy (np. testy pozytywne vs negatywne, przyrost hospitalizowanych) w formie zbliżonej do tej:

<img width="414" alt="image" src="https://user-images.githubusercontent.com/26530372/77789471-5e09df80-7063-11ea-8e38-8c00190a5bee.png">

Mógłbym się tym zająć.

[2020-03-27 20:31] konradkalemba commented on #20
@Kamil-kozlowski Jasne, można by wykorzystywać inne dane, jednak zastanawiam się jak to rozwiązać pod względem UX/UI - obecnie mamy dosyć ograniczone miejsce. Zmniejszyłem, jak pewnie widziałeś, wykres z województwami, aby dać trochę "oddechu" mapie. Może, tak jak proponował @sosite, dodajmy opcję customizacji layoutu? Jeszcze jest taki "problem", że większość użytkowników (ok. 66%) wchodzi na str

[2020-03-27 20:33] konradkalemba commented on #14
Closing due to inactivity.

[2020-03-27 20:33] #14 closed

[2020-03-28 23:04] mulawamichal commented on #20
UI na komórce jest ok, ale na desktopie cos nie poszło:
![image](https://user-images.githubusercontent.com/44225214/77835799-ace17300-7150-11ea-8902-e356c7febe4e.png)
(ta czarna kreska to chyba "aktywna karta" z wykresami skumulowanymi, a jak sie kliknie obok niej, to pokazuje wykresy zwykłe (nieskumulowane))

[2020-03-28 23:17] Kamil-kozlowski commented on #20
@mulawamichal trochę nie rozumiem, coś takiego da się osiągnąć jedynie jak na siłę zmniejszysz sobie wysokość okna przeglądarki i osiągniesz wymiary praktycznie uniemożliwiające komfortowe korzystanie z niej. Czy tak było?

[2020-03-29 06:45] mulawamichal commented on #20
@Kamil-kozlowski nie, przeglądarka (Firefox)  otwarta normalnie w zmaksymalizowanym oknie.

[2020-03-29 10:24] mwygoda opened #55 "zakres dat na wykresie"
ja tylko z malutką sugestią

![image](https://user-images.githubusercontent.com/12766100/77846661-dda8c300-71b7-11ea-9dfb-71dc0896499c.png)
przypadki pokazywane na tym wykresie powinny byc do ostatniego minionego dnia (dzisiejsza data -1) wtedy wykres bedzie przedstawiał wlaściwą krzywą. :)

[2020-03-30 09:01] mulawamichal commented on #20
sprawdziłem na chrome i edge - z racji jakichś dodatkowych taskbarów obszar roboczy okna jest jeszcze niższy, i ramka z danymi "ogólnymi" wjeżdża jeszcze bardziej na wykres. edytowałem sobie styl żeby przesunąc wykresy w prawo - widac że góra okna jest schowana pod tą ramką na górze:
![image](https://user-images.githubusercontent.com/44225214/77894562-c03a2e80-7275-11ea-97e1-76011d68f4eb.png)

tak

[2020-03-30 11:47] Kamil-kozlowski commented on #20
@mulawamichal tak, tak - zapomniałem napisać, że też odtworzyłem ten błąd u siebie. Faktycznie na ekranach ~13'' i mniejszych może coś takiego wystąpić.
@konradkalemba może można to zrobić przy pomocy jakichś Collapse Tabów "Pokaż liczby" i "Pokaż Wykresy", gdzie liczby byłyby domyślnie otwarte.

[2020-03-31 15:08] thebergamo opened #60 "Include daily change by region"
Would be nice to see how many cases are new based on region basis.

[2020-03-31 17:24] #55 closed

[2020-03-31 19:15] thebergamo commented on #60
Question: @konradkalemba do we have access to how data is populated? Can we do some queries with current data? How we can do it?

Couldn't find much details about the backend itself, if you could share those infos with us, I could implement this feature.

[2020-03-31 20:08] konradkalemba commented on #60
@thebergamo Yes, of course.

Here is a zip with json supplied from Firebase:
[cases.zip](https://github.com/konradkalemba/korona.ws/files/4411325/cases.zip)

[2020-04-01 07:43] Kamil-kozlowski commented on #60
@thebergamo Maybe this will be helpful:
There is already some logic for region new daily cases as it appears in the popup when you click on a Marker.
Take a look [here](https://github.com/konradkalemba/korona.ws/blob/f85b14d6e6270b74b73aa1c0ccef9ac852b14d6c/src/components/Figures/Figures.jsx#L41-L44) and below [how it is used](https://github.com/konradkalemba/korona.ws/blob/f85b14d6e6270b74b73aa1c

[2020-04-02 09:33] Kamil-kozlowski opened #61 "[bug] Invalid data on prod"
There is a bug with daily growth chart.
We received some invalid/accumulated data I guess

prod:
<img width="467" alt="image" src="https://user-images.githubusercontent.com/26530372/78235741-5de16800-74d9-11ea-9abb-01d2dc03f90d.png">

<img width="330" alt="Zrzut ekranu 2020-04-2 o 11 28 29" src="https://user-images.githubusercontent.com/26530372/78233268-c3335a00-74d5-11ea-9ab3-4e66b9747647.png">

[2020-04-02 10:19] konradkalemba commented on #61
The problem is that an old version of app is cached in your browser. If you refresh the site withour using cache the bug should be gone.

[2020-04-02 10:58] konradkalemba commented on #61
@Kamil-kozlowski Unfortunately MZ doesn't provide any info about cured people on their websites or social accounts. Yesterday's number was said by spokesperson of MZ so I decided to include it in our stats. However if MZ will continue not to give the data we will have to stop giving outdated info.

[2020-04-02 11:07] Kamil-kozlowski commented on #61
@konradkalemba I see. I thought you weren't aware of it.
I close the issue as no actions are required.

[2020-04-02 11:07] #61 closed

[2020-04-02 14:58] kolszewska opened #62 "Bug: Overlapping text in data sources tab"
Hi!

The data sources table have some overlapping text - the column names and the first row overlap. (I used the Safari browser - the issue could not be reproduced on the Chrome)

![image](https://user-images.githubusercontent.com/17303358/78263989-eaece700-7502-11ea-8342-eba39a7f1321.png)

[2020-04-02 16:25] Kamil-kozlowski commented on #62
@kolszewska please check if it is ok here: https://korona-ws-git-fork-kamil-kozlowski-bugfix-62.konradkalemba.now.sh

[2020-04-02 16:48] kolszewska commented on #62
@Kamil-kozlowski yes it does!

[2020-04-02 17:42] thebergamo commented on #60
Grea! Thanks I will be looking into it tomorrow o/

On Wed, 1 Apr 2020 at 09:43 Kamil Kozlowski <notifications@github.com>
wrote:

--
*Marcos Vinicius Bérgamo
<http://www.linkedin.com/profile/view?id=144314576&trk=tab_pro>*
*C:* +55 11 9*6067-7771*
*http://www.marcosbergamo.com <http://www.marcosbergamo.com/>*

[2020-04-02 19:48] kkostepski opened #64 "[Safari mobile] Bottom tabs renders incorrectly"
Hi!
There is a bug reproducible only in Safari (mobile). If you click on tab "statystyki", the tabs are shrinking. I think it's related to the bug #62 - problem with flex-shrink.

![image](https://user-images.githubusercontent.com/18166552/78295043-ba6d7300-752b-11ea-86fa-cc5a5ad58140.jpeg)

[2020-04-02 21:11] #64 closed

[2020-04-02 21:12] #62 closed

[2020-04-02 21:25] PythonWonderWoman opened #65 "dzienny wykres z dnia 30.03 zawiera blad"
dzienny wykres z dnia 30.03 zawiera blad bylo 254 nowych przypadkow a nie 193 jak wskazuje wykres.
zrodla:
https://twitter.com/MZ_GOV_PL/status/1245052138671214592
https://twitter.com/MZ_GOV_PL/status/1244686032966164480

[2020-04-02 21:33] konradkalemba commented on #65
@PythonWonderWoman Wszystko jest w porządku, 30.03 było 193 przypadków. Natomiast 31.03 było 256 i z tego okresu są też przesłane tweety.

[2020-04-02 21:42] Tymon-CCWE opened #66 "Create image to be added to sharing preview on FB (og:image property) and other social media"
https://developers.facebook.com/docs/sharing/best-practices#images

[2020-04-03 07:36] #65 closed

[2020-04-03 09:41] konradkalemba commented on #66
What about icon?
![image](https://user-images.githubusercontent.com/8682104/78346932-0954f000-75a0-11ea-9182-a0e4e67b0eb4.png)

[2020-04-03 17:26] Mkaranter commented on #53
That's good idea. Users would be able to see how close is it to estimated end of pandemics. Also in case it will got worst than predictions that could motivate people to stay home. Did U found somewhere actual data?

[2020-04-04 12:33] Mr1008 opened #69 "Chart does not present the current amount of recovered people"
Chart does not present the current amount of recovered people. It is somehow misleading because it shows number of deaths.

[2020-04-04 13:15] Kamil-kozlowski commented on #69
on graphs there is voivodeship and date oriented data, and for latest deaths and cures we have no details about the region and particular date. The info was like "we have new 50 cured people" without any specific dates given, like on monday - 20 cures confirmed and next day - 30. Therefore it was not added under the hood to the daily graph for instance.
But at the end of the day it somehow should

[2020-04-04 13:41] konradkalemba commented on #69
As @Kamil-kozlowski said, there were no dates and voivodeships specified in the data provided by MZ. And it doesn't seem that they will start giving those details.
I think we'll have to exclude cures count info from voivodeships charts.

[2020-04-04 14:25] Mkaranter commented on #53
It seems that there is no API providing this data, it's just hardcoded. If we could scrape it from the website, I'm up to implement the graph on the frontend.

[2020-04-05 07:31] Mr1008 commented on #69
Yes, that's true. There is no voivodeship data for cured. But for a few days now ministry is reporting cured count daily. I think that cured count data from the voivodeship chart could be removed but the sum chart at the bottom could be updated daily now. It would give much better view for a current situation we are in.

[2020-04-10 08:17] kolszewska commented on #69
Hi,

to follow up what @Mr1008 wrote adding the cured info to the overall chart will make it less confusing.

![image](https://user-images.githubusercontent.com/17303358/78975359-39f2d780-7b14-11ea-8c00-17ede3abfdbe.png)

[2020-04-10 08:41] oszust002 opened #70 "Daily change chart is misleading"
When I see daily change chart, the only change which I can clearly see is new cases. putting deaths and cures in the same column as new cases is misleading, because at first glance I can see that the change was bigger than it really is.

I think that much better would be showing new cases, cures and deaths next to each other, or on separate daily change charts

[2020-04-10 18:21] konradkalemba commented on #69
@kolszewska Fixed! :)

[2020-04-10 18:21] #69 closed

[2020-04-17 19:46] cookieMr opened #71 "Overall/Daily chart's bars are not sorted by date"
Chart bars should be ordered by date.

Right now "Overall" cases the day 27/03 is between 29/03 and 31/03. Same goes for "Daily" cases chart bars.

[2020-04-18 12:18] #71 closed

[2020-04-18 12:19] konradkalemba commented on #71
Fixed. I don't know how it went unnoticed for so long. Thanks! :)

[2020-04-19 11:18] cookieMr opened #72 "[Feature Request] Deltas for 3 hidden statistics"
I can see deltas for deaths, infections and cured people. How about the same deltas for other 3 (hidden) statistics (hospitalised, quarantined and the 3rd long one).

Such feature is offen requested ([or provided in comments](https://twitter.com/MarchelPiotr/status/1251773072845258752)) on "Ministerstwo Zdrowia" twitter.

[2020-04-20 20:36] konradkalemba commented on #72
This is implemented and was working till MZ omitted one day and didn't provide a daily report, which was sent the following morning. I decided then to link the changes in figures with previous day. And I've been doing like that since then. However I think I'll change my approach and link it with the day the report was published starting tomorrow.

[2020-04-29 13:41] oszust002 opened #73 "Liczba przebadanych osób"
Od niedawna ministerstwo zaczęło poza liczbą testów przekazywać liczbę przebadanych osób (https://twitter.com/MZ_GOV_PL/status/1255459314564808707?s=20), przydałoby się dorzucenie tego do statystyk na stronie

[2020-04-30 16:40] picheli20 opened #74 "Error: clientAppId must be set to a non-empty string"
While trying to setup the project locally I've faced the following error:

[code]

I've added the following config into the `.env` (on the root of the application):

[code]

Maybe `REACT_APP_STITCH_APP_ID` is missing on `.env` and it's mandatoy?

[2020-05-01 10:53] konradkalemba commented on #74
Oops. I didn't update the CONTRIBUTING.md file after migrating to Stitch.
Just add the following lines to your `.env`:
[code]

[2020-05-01 10:53] #74 closed

[2020-05-01 11:30] #66 closed

[2020-05-01 11:30] #72 closed

[2020-05-02 15:49] cookieMr opened #76 "Numbers don't fit on screen anymore"
Numbers stopped to fit on a smartphone screen.

<img src="https://user-images.githubusercontent.com/8577083/80868705-945b0000-8c9c-11ea-96a0-b7ea893f3a93.png" width="200"> <img src="https://user-images.githubusercontent.com/8577083/80868709-9624c380-8c9c-11ea-8f7b-9b21cdc7d27e.png" width="200">

[2020-05-17 08:28] #76 closed

[2020-08-05 08:08] bordeux opened #78 "Redirect to some other source of the data"
Looks like this project is dead :(
What do you think to make  domain redirection to https://www.bing.com/covid/local/poland for example?

[2020-10-01 20:53] konradkalemba commented on #78
Yes, it had been dead for a while but fortunately it is now working again. :)

[2020-10-01 20:53] #78 closed

[2020-10-01 20:57] bordeux commented on #78
Good to hear that!
[![xos2MnVxe-c](http://img.youtube.com/vi/xos2MnVxe-c/0.jpg)](http://www.youtube.com/watch?v=xos2MnVxe-c "Video Title")